name: Publish NPM Package

on:
  push:
    tags:
      - '*.*.*'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write  # Required for OIDC

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'
          registry-url: https://registry.npmjs.org/

      - name: Install Dependencies
        run: npm ci

      - name: Bundle Package
        run: npm run package

      - name: Log Publish Plan
        run: npm pack --dry-run

      - name: Publish to npm
        run: npm publish --access public

      - name: Delete tag on publish prep failure
        if: failure()
        run: |
          TAG_REF=${GITHUB_REF#refs/tags/}
          git push origin :refs/tags/$TAG_REF --no-verify
          echo "Deployment failed. Deleted tag $TAG_REF"

      - name: Create GitHub Release
        uses: alexanderdombroski/release-from-changelog-action@v1.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}